meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Entorno vivo
meta(meta name="description" content="El entorno vivo hace que el aprendiz reconozca los referentes que conciben un ser vivo como un sistema que permite su manifestación desde lo morfológico, fisiológico, reproductivo e interactivo con el ambiente. A su vez establece relación con el entorno químico y físico como parte del mundo de la vida.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")