h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('play', 'Introducción', 'main.html#page/introduccion/')
                    +navTemaItem('1', 'Referente celular', 'main.html#page/celular/')
                    +navTemaItem('question', 'Actividad didáctica: centro de comunicaciones', 'main.html#page/actividad-1/')                    
                    +navTemaItem('2', 'Referente organísmico', 'main.html#page/organismico/') 
                    +navTemaItem('question', 'Actividad didáctica: good food', 'main.html#page/actividad-2/') 
                    +navTemaItem('question', 'Actividad didáctica: fiesta de los seres vivos', 'main.html#page/actividad-3/') 
                    +navTemaItem('question', 'Actividad didáctica: circulando ando', 'main.html#page/actividad-4/')                                                              
                    +navTemaItem('3', 'Referente ecosistémico', 'main.html#page/ecosistemico/')
                    +navTemaItem('4', 'Biotecnología', 'main.html#page/biotecnologia/')                       
