h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span Establecer las relaciones entre las funciones básicas de un ser vivo de acuerdo con los niveles celular, organísmico y ecosistémico.



