

.container
    .header-ecored
        h1 1. Referente celular  

    #11
    .jumbotron.bg-white
        .sub-line
            h2 1.1 Teoría celular moderna 
        p La Teoría Celular Moderna es un pilar fundamental de la biología, formulada en 1838 por los científicos Schielden y Schwann. 

        .row.justify-content-center.align-items-center.bg-color-1.py-5.mt-5
            .col-12.col-md-6
                h2.text-white Unidad morfológica:
                br 
                h2.text-green Todo ser vivo está constituido por células. 
            .col-12.col-md-6
                img.img-a(src="assets/images/pages/ilustraciones/img1.png").img-fluid 

    #12
    .jumbotron.bg-white
        .sub-line
            h2 1.2 Clasificación de las células 
        p Las células se clasifican de acuerdo a su forma, tamaño y estructura. 

        .header-arrow.my-5
            h3.text-center Según su forma 

        .row.justify-content-center.bg-color-1.py-5.mt-5.br-sup
            .col-12.col-md-6.mt-3
                h3
                    span.text-white Esféricas: 
                    span.text-green células adiposas 

                img.px-2.img-a(src="assets/images/pages/ilustraciones/img2.png").img-fluid 
                
            .col-12.col-md-6.mt-3
                h3
                    span.text-white Estrelladas: 
                    span.text-green neuronas             

                img.px-2.img-a(src="assets/images/pages/ilustraciones/img3.png").img-fluid 
                


        .row.justify-content-center.bg-color-1.py-5.br-inf
            .col-12.col-md-6.mt-3
                h3
                    span.text-white Alargadas: 
                    span.text-green fibras musculares            

                img.px-2.img-a(src="assets/images/pages/ilustraciones/img4.png").img-fluid 
                
            .col-12.col-md-6.mt-3
                h3
                    span.text-white Isodiamétrica: 
                    span.text-green células vegetales amorfas (Sin forma). Ejemplo: Amebas             

                img.px-2.img-a(src="assets/images/pages/ilustraciones/img5.png").img-fluid 

        .header-arrow.my-5
            h3.text-center Por su tamaño

        .row.justify-content-center.bg-color-1.py-5.mt-5.br-sup
            .col-12
                h3
                    span.text-white Macroscópicas:  
                    span.text-green aquellas que se aprecian a simple vista. Ejemplo: el huevo
 

                img.px-2.mt-3.img-a(src="assets/images/pages/ilustraciones/img6.png").img-fluid 
        .row.justify-content-center.align-items-center.bg-color-1
            .col-12
                hr.bd-hr-green   
        .row.justify-content-center.bg-color-1.py-5.br-inf
            .col-12
                h3
                    span.text-white Microscópicas: 
                    span.text-green aquellas que se observan con ayuda del microscopio, siendo la unidad de medida la micra.
                img.px-2.mt-3.img-a(src="assets/images/pages/ilustraciones/img7.png").img-fluid  

        .header-arrow.my-5
            h3.text-center Por su estructura y complejidad
            
        .row.justify-content-center.bg-color-1.py-5.mt-5.br-sup
            .col-12
                h3
                    span.text-white Procariota:  
                    span.text-green células simples sin membrana nuclear, ni organelos citoplasmáticos, excepto ribosomas
 

                img.px-2.mt-3.img-a(src="assets/images/pages/ilustraciones/img8.png").img-fluid 
        .row.justify-content-center.align-items-center.bg-color-1
            .col-12
                hr.bd-hr-green   
        .row.justify-content-center.bg-color-1.py-5.br-inf
            .col-12
                h3
                    span.text-white Eucariota: 
                    span.text-green células complejas con núcleo, pueden ser vegetales y animales
                img.px-2.mt-3.img-a(src="assets/images/pages/ilustraciones/img9.png").img-fluid 

    #13
    .jumbotron.bg-white
        .sub-line
            h2 1.3 Organelos celulares
        p Los organelos presentes en las células, difieren según sean estas procariotas, eucariotas, animales o vegetales.

        section.my-4

            a(href="https://login.bdigital.sena.edu.co/login?url=https://ebookcentral.proquest.com/lib/senavirtualsp/detail.action?docID=3216238" target="_blank").media-link      

                img(src="assets/images/pages/ilustraciones/libro.svg", alt="").media-link-icon

                .media-link-title
                    p <b>Biblioteca digital. Lo invitamos a leer en el capítulo 3:</b>
                    p.mt-3 Rodríguez, M., Busch, M., & Dadón, J. (2010). De moléculas a células: Entendiendo la estructura de los seres vivos.
        
        p.mt-5 Para profundizar acerca de los organelos, puede dar clic en cada uno de ellos para conocer su información. 

        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='media/01/index.html', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')        

        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='media/02/index.html', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')    

    #14
    .jumbotron.bg-white
        .sub-line
            h2 1.4 Niveles de organización de los Seres vivos
        p El mundo vivo puede organizarse en diferentes niveles:
        img.mt-5.img-a(src="assets/images/pages/ilustraciones/img10.svg").img-fluid

        ul 
            li.text-green
                p.text-black.mt-5 <b>Célula:</b>  se considera la mínima expresión de un ser vivo en cuanto forma y función
            li.text-green
                p.text-black.mt-4 <b>Tejido:</b> es la reunión de células de la misma clase 

            li.text-green
                p.text-black.mt-4 <b>Órganos:</b> cuando se reúnen varios tejidos para cumplir una función en común   

            li.text-green
                p.text-black.mt-4 <b>Sistema Orgánico: </b>reunión de varios órganos que trabajan en equipo cumpliendo una función   

            li.text-green
                p.text-black.mt-4 <b>Organismo: </b>individuo formado por diferentes sistemas capaz de reproducirse.   

        
