.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p
            strong.mr-2 Ácido nucleico:
            | polímeros compuestos por nucleótidos, que en los organismos vivos se basan en uno de dos azúcares, ribosa o desoxirribosa, lo que da origen a los términos ácido ribonucleico (RNA) y ácido desoxirribonucleico (DNA).
        
        p
            strong.mr-2 Biodiversidad:
            | el término "biodiversidad" se refiere a la diversidad de especies tanto vegetales como animales que viven en un espacio determinado.
        p 
            strong.mr-2 Descomponedores:
            | son los organismos que se alimentan de restos orgánicos transformándolos en inorgánicos. Los descomponedores más conocidos y destacados son los hongos y las bacterias, pero en este grupo entran las babosas, lombrices y algunos insectos.

        p
            strong.mr-2 Enzima:
            | las enzimas son moléculas de naturaleza proteica que catalizan reacciones químicas. Casi todos los procesos en las células necesitan enzimas. A las reacciones mediadas por enzimas se las denomina reacciones enzimáticas.
        p 
            strong.mr-2 Estímulo:
            | cualquier cosa en el medio ambiente que causa que una cosa viviente reaccione.

        p 
            strong.mr-2 Homeostasis:
            | la tendencia de un sistema a mantener la estabilidad interna.

        p 
            strong.mr-2 Precipitación:
            | en meteorología, la precipitación es cualquier forma de hidrometeoro que cae de la atmósfera y llega a la superficie terrestre. Este fenómeno incluye lluvia, llovizna, nieve, aguanieve, granizo, neblina ni rocío, que son formas de condensación y no de precipitación.