

.container
    .header-ecored
        h1 Introducción        
.container
    .row
        .col
            .card

                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/2nhxITbyol4', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                
                .card-body.mt-0
                    p En este espacio realizará un recorrido para entender la vida, los organismos, sus funciones e interacciones con el entorno. 