.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Nombre del documento o material.
                    th.text-center Tipo de material. 
                    th.text-center Enlace del Recurso.

            tbody
                tr
                    td
                        strong Rodríguez, M., Busch, M., & Dadón, J. (2010). De moléculas a células: Entendiendo la estructura de los seres vivos. 
                    td Capítulo 3
                    td 
                        a(href="https://bit.ly/2SOq1Ez", target="_blank") <span class="fa fa-external-link mr-3" aria-hidden="true"></span>Ver documento

                tr                    

                    td
                        strong Fried, G. (1990). Biología. McGraw-Hill Interamericana.
                    td Capítulo 12, 17,  20 y 22
                    td 
                        a(href="https://bit.ly/35TkJNr", target="_blank") <span class="fa fa-external-link mr-3" aria-hidden="true"></span>Ver documento
                        
                tr                    

                    td
                        strong Cervantes, M. y Hernández, M. (2015). Biología General. Grupo Editorial Patria.
                    td Unidad 5
                    td 
                        a(href="https://bit.ly/3fJM4Gm", target="_blank") <span class="fa fa-external-link mr-3" aria-hidden="true"></span>Ver documento
