include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
    
        +referenciaItem("Audersirk T, Audersirk G & Byers B. (2009). Biología: La vida en la tierra.", " ")

        +referenciaItem("Campbell N. y Reece J. (2007). Biología. Editorial Panamericana.", " ")

        +referenciaItem("Curtis H. (2008). Biología General. Ed. Médica Panamericana.", " ")

        +referenciaItem("Lodish H., Berk A., Kaiser C., Krieger M., Bretscher A., Ploegh H., Amon A. & Scott M. (2016). Biología Celular y Molecular. Editorial Médica Panamericana", " ")