include mixins/functions

doctype
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title Información del programa: habilidades cognitivas en ciencias naturales
        meta(meta name="description" content="Información del programa: habilidades cognitivas en ciencias naturales.")    
        link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
        link(rel="stylesheet", href="assets/fonts/feather/feather.css")
        link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
        link(href='assets/css/fancybox.css', rel='stylesheet')
        link(href='assets/css/animate.css', rel='stylesheet')
        link(rel="stylesheet", href="assets/css/main.css")

    body#page-home.theme-dark.page-header-textura

        header#CursoPresentacion.curso-presentacion.page-header
            .page-textura
                .container

                    .curso-topbar.justify-content-center.justify-content-md-start
                        
                        a.curso-topbar__logo
                            include ../assets/images/logos/senaLogo.svg

                    .curso-portada

                        .row.align-items-center

                            .col-12.col-lg-6

                                h3.curso-subtitulo Habilidades cognitivas en ciencias naturales
                                h1.curso-titulo Información del programa

                                .brand-line-primary

                                p.curso-descripcion
                                    ul.text-white 
                                        li 
                                            span #[strong Nombre del programa:] habilidades cognitivas en ciencias naturales
                                        li 
                                            span #[strong Código:] 22210047
                                        li 
                                            span #[strong Total Horas:] 48
                                        li 
                                            span #[strong Duración en semanas:] 4 semanas
                                        li 
                                            span #[strong Modalidad:] virtual
                                        li 
                                            span #[strong Requisito de ingreso:] edad mínima 15 años. Grado mínimo de escolaridad 9°, registro en plataforma y presentación de las prueba de: Inventario Preferencial de Ocupaciones (IPO), Habilidades Cognitivas de Emprendimiento (HACE) y Orientación de Rasgos de Desempeño (ORD).

                            .col-12.col-lg-6
                                .embed-responsive.embed-responsive-16by9
                                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/oB55KVkjkhc', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')            


        section#Presentacion.section.section-dark

            .container

                h1  1. Presentación
                .brand-line-primary

                p.mt-5 ¡Hola!, te damos la bienvenida al Programa de Habilidades Cognitivas en Ciencias Naturales.
                
                p Guiaremos tu proceso por este maravilloso mundo, esperamos que además de complementar tu formación académica en este programa cumplas tus expectativas de conocimiento, diversión e interactividad.
                
                p Realizarás un recorrido por el mundo de las células y los sistemas de los seres vivos, los cuales cumplen con diferentes funciones que nos permiten vivir e interactuar con el entorno físico y químico. Adquiriendo habilidades que podrás aplicar en la resolución de situaciones de la vida cotidiana, además de desarrollar capacidades de trabajo autónomo y utilización de las TIC.
                
                p Se tratarán conceptos a través de tres ejes temáticos fundamentales: el entorno vivo, entorno químico y el entorno físico.
                
                p Todo lo anterior lo realizarás a través de la plataforma virtual en donde encontrarás: la información del programa, la ruta de formación, los contenidos con ejemplos explicativos y la guía de aprendizaje con actividades innovadoras. También contarás con la orientación del instructor – tutor, quien te ayudará a lo largo del curso en espacios programados en los que despejará tus dudas de manera directa.
                
                p Esperamos que con estos recursos a tu disposición puedas aprender y cumplir con tus metas personales.


        section#Justificacion.section.section-light

            .container

                h1  2. Justificación<br> del programa
                .brand-line-primary

                
                p.mt-5 El programa de Habilidades Cognitivas en Ciencias Naturales propende un proceso formativo que genere sentido para el educando, por consiguiente cumpla con sus expectativas personales y desarrolle las competencias que demandan el mundo laboral y social. El Ministerio de Educación Nacional MEN, genera lineamientos fundamentados en las áreas de conocimiento que permitan a los individuos desarrollar estilos de pensamiento crítico para desenvolverse en el entorno donde se encuentran, tomar decisiones y desarrollar acciones que puedan transformar la sociedad. En este sentido las ciencias naturales hacen parte de un conocimiento transversal en el que se fundamentan otras disciplinas para lograr en los educandos el desarrollo de procesos de aprendizaje para la vida que le proporcionan poder de argumentación en el ejercicio de una cultura ciudadana crítica.

                p Las competencias que se desarrollan a través de este proceso de formación, permiten que los aprendices ejerzan la iniciativa para aplicar el conocimiento en diversas situaciones y contextos, donde en el caso de las ciencias naturales se proporcionan destrezas en el ámbito tecnológico, económico, social, laboral y cultural.

                p Conviene subrayar que el Servicio Nacional de Aprendizaje SENA, ha sido pionero en la innovación en metodologías y medios que proporciona a los educandos para el desarrollo de las competencias en el saber, saber hacer y saber ser. Lo cual permite a las ciencias naturales actuar como un soporte transversal de todas las áreas de conocimiento de las diferentes disciplinas. Desde el modelo pedagógico de la formación profesional integral se parte de una concepción humanista, en fomento del uso de la razón a través de la observación, abstracción, deducción y argumentación, lo cual facilita el análisis, la comprensión y la transformación del mundo de la vida. La ciencia y la tecnología fortalecen el desarrollo de las personas y las comunidades, por lo tanto, para poder desenvolverse en el mundo con innumerables avances tecnológicos se requiere una formación científica en procesos biológicos, químicos y físicos.

                p El SENA, encargado de la formación profesional en el país, asume el compromiso de formar personas competentes, capaces de plantear y resolver problemas de la cotidianidad y del mundo laboral. En otras palabras, las necesidades de innovación e investigación a través de diferentes aprendizajes.


        section#Poblacion.section.section-dark

            .container

                h1  3. Población <br>objetivo
                .brand-line-primary

                p El curso está dirigido a los aprendices mayores de 15 años, que tengan como mínimo grado 9° de escolaridad y que deseen desarrollar competencias frente a situaciones susceptibles de ser abordadas de manera científica, en contextos del sector productivo, social y personal, con lo cual puedan desempeñarse en áreas de ocupación con funciones productivas reconocidas en el mercado laboral y contempladas en la Clasificación Nacional de Ocupaciones – CNO.


        section#Estrategia.section.section-light

            .container

                h1 4. Estrategia <br>metodológica
                .brand-line-primary

                p El proceso de aprendizaje se encuentra centrado en ambientes virtuales de aprendizaje, implementados en la utilización de las tecnologías de la información y la comunicación, que en todo caso recrean el contexto productivo y vinculan al aprendiz con la realidad cotidiana y el desarrollo de las competencias propias de las ciencias naturales. Estimulando de manera permanente la autocrítica y la reflexión sobre el quehacer y los resultados de aprendizaje que logra a través de la vinculación activa de las cuatro fuentes de información para la construcción de conocimiento: el instructor– tutor, el entorno, las TIC y el trabajo colaborativo.
                
                p El aprendizaje se desarrollará utilizando como mediación una plataforma LMS (Learning Management System) que facilitará la interacción del aprendiz con los contenidos de aprendizaje que se proponen. Además contará con el acceso a las bases de datos bibliográficos que posee el SENA para profundizaren los conocimientos.
                
                p En particular se abordarán tres ejes temáticos: entorno vivo, entorno químico y el entorno físico a través de las estrategias didácticas de modelamiento, experimentación y representación, que se vivencian en el desarrollo de las guías de aprendizaje la cual además propone una serie de actividades para exponer, argumentar, formular y resolver problemas del contexto real. En consecuencia, se espera desarrollar la competencia de aplicar conocimientos en ciencias naturales de acuerdo a situaciones del contexto productivo y social.

        +creditosFooter("assets/images/logos/senaLogo.svg")





